<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
<ng-container [matColumnDef]="tableData" *ngFor="let tableData of columData">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{tableData}}    </th>
    <td mat-cell *matCellDef="let element;let i=index" 
    (click)="getSelected(i,element)" 
    [ngClass]="{'selected' : selectedIndex == i}"> 
    <span *ngIf="tableData =='state'||tableData =='district'" >{{element[tableData]}}</span>
    <span *ngIf="tableData !='state' && tableData!='district'">{{element[tableData] | number:'1.0-2'}}</span>
  </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columData"></tr>
  <tr mat-row *matRowDef="let row; columns: columData;"></tr>

</table>

<mat-paginator [pageSizeOptions]="[10, 20,30]" showFirstLastButtons></mat-paginator>

